.media-section {
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-start; /* Ensures image and text stay aligned in a row */
}

.media-item {
    display: flex;
    flex-direction: row; /* Ensures image and text are in the same row (default behavior) */
    width: 100%;
}

.media-item img {
    width: 200px; /* Fixed width for all images */
    height: auto; /* Keeps the aspect ratio */
    object-fit: contain; /* Keeps the image aspect ratio without distortion */
    margin-right: 20px; /* Adds space between the image and the text */
}

.media-description {
    flex-grow: 1; /* Ensures the text container takes up the remaining space */
    display: flex;
    flex-direction: column; /* Allows the text to stack vertically inside this column */
    justify-content: center; /* Optional: vertically centers the text relative to the image */
}

@media print, screen and (max-width: 1200px) {
  .wrapper {
    width: 610px;
  }

  .sidebar {
    width: 200px;
    height: calc(100vh - 50px);  
  }

  section {
    width: 575px;
  }

  .sidebar-footer {
    width: auto;
    padding-bottom: inherit;
  }
}
